// Import font
@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

// Color variables
$purple: hsl(257, 40%, 49%);
$pink:  hsl(300, 69%, 71%);

// Fonts
$heading-font: 'Poppins', san-serif;
$body-font: 'Open sans', san-serif;


// Breakpoints
$bp-medium: 50em; //800px
$bp-large: 75em; //1200px

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px;

	@media only screen and (min-width: $bp-medium) {
		font-size: 75%;
	}

	@media only screen and (min-width: $bp-large) {
		font-size: 90%;
	}

}

body {
	background-image: url(../images/bg-mobile.svg);
	background-color: $purple;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;

	@media only screen and (min-width: $bp-large) {
		background-image: url(../images/bg-desktop.svg);
		background-size: cover;
		height: 100vh;
	}
}

.container {
	font-family: $body-font;
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: $bp-large) {
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		height: 80vh;
	}
}

.images {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 80vw;

	@media only screen and (min-width: $bp-large) {
		width: 45vw;
	}


	&__logo {
		align-self: start;
		margin-top: 4rem;
		margin-bottom: 8rem;
		width: 45%;

		@media only screen and (min-width: $bp-large) {
			margin-bottom: 5rem;
			margin-top: 0;
		}
	}

	&__mockup {
		align-self: center;
		width: 80vw;

		@media only screen and (min-width: $bp-large) {
			flex-direction: row;
			width: 40vw;
			height: 55vh;
		}
	}
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	width: 80vw;
	margin-top: 8rem;
	text-align: center;
	line-height: 1.5;

	@media only screen and (min-width: $bp-large) {
		width: 40vw;
		margin-top: 6rem;
		align-self: center;
	}


	&__heading {
		font-size: 2.5rem;
		font-weight: 600;
		font-family: $heading-font;

	}

	&__paragraph {
		margin-top: 4rem;
		font-family: $body-font;
		font-size: 1.5rem;
		color: #f1f1f1;

		@media only screen and (min-width: $bp-large) {
			margin-top: 2rem;
		}
	}

	&__button:link,
	&__button:visited {
		display: block;
		text-decoration: none;
		color: $purple;
		font-size: 1.2rem;
		padding: 1.2rem 5rem;
		background-color: #fff;
		border-radius: 200px;
		align-self: center;
		box-shadow: .2rem .7rem .6rem rgba(#000, .4);
		margin-top: 3rem;

		@media only screen and (min-width: $bp-large) {
			align-self: start;
		}
	}

}

.icons {
	display: flex;
	margin: 0 auto;
	width: 85vw;
	justify-content: center;
	margin-top: 4rem;

	@media only screen and (min-width: $bp-large) {
		justify-content: flex-end;
	}

}

.fa {
	font-size: 1.5rem;
	border: 2px solid #fff;
	border-radius: 100%;
	padding: .5rem;

	@media only screen and (min-width: $bp-large) {
		padding: .8rem;
	}

	&:not(:last-child) {
		margin-right: 1.5rem;

		@media only screen and (min-width: $bp-large) {
			margin-right: 3rem;
		}
	}

	&:hover {
		cursor: pointer;
	}
}


// Attribution
footer {
	position: relative;
	margin-top: 2rem;
	height: 4rem;

	@media only screen and (min-width: $bp-large) {
		margin-top: 3rem;
	}
}




.attribution {
	font-size: 1.1rem;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 1px;
}

.attribution a {
	color: $pink;
}
